body{
    background-color: black;
    display: flex;
}

.container{
    margin-top: 15%;
}

h1, h2, .text{
    text-align: center;
    color: rgb(241, 235, 224);
}

.text{
    font-size: 30px;
}

.row{
    justify-content: space-evenly;
}

.btn{
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(241, 235, 224);
}

.btn-primary{
    border: none;
}

.btn:hover, .btn-primary, .btn:focus{
    background-color: rgb(55, 16, 100);
}